
@{
    Layout = null;
}
<!-- pas de mise en page spéciale pour cette page : c'est une page d'accueil standard, sans logo, ni bannière, ni footer -->
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Accueil</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <!-- on utilise une mise en forme bootstrap -->
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1 id='home-title' class="my-5 pt-5">Sondage en ligne</h1>
                <p id='home-subtitle' class="mb-5">
                    Vous avez besoin de créer une enquête ? Vous souhaitez mettre en place une étude rapidement ?<br />
                    Super Sondage vous permettra de réaliser votre sondage en ligne. Vous pourrez ensuite transmettre<br />
                    le lien facilement à l’aide d’un lien qui sera indiqué sur la page, une fois le sondage créé.<br /><br />
                    Un code secret vous sera demandé pendant la création du sondage afin que personne d'autre ne puisse le désactiver.
                </p>
                <a href='SondageCreation' title='Créer votre sondage' class="btn btn-primary btn-lg active" role="button">Créer un nouveau sondage</a>

            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>