USE [master]
GO
/****** Object:  Database [SONDAGE]    Script Date: 22/04/2019 14:39:11 ******/
CREATE DATABASE [SONDAGE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SONDAGE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\SONDAGE.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SONDAGE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\SONDAGE_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SONDAGE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SONDAGE]
GO
/****** Object:  Table [dbo].[Option]    Script Date: 22/04/2019 14:39:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Option](
	[IdOption] [int] IDENTITY(1,1) NOT NULL,
	[IdSondage] [int] NOT NULL,
	[ReponseTxt] [nvarchar](50) NOT NULL,
	[NbVotes] [int] NOT NULL,
 CONSTRAINT [PK_Option] PRIMARY KEY CLUSTERED 
(
	[IdOption] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sondage]    Script Date: 22/04/2019 14:39:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sondage](
	[IdSondage] [int] IDENTITY(1,1) NOT NULL,
	[Question] [nchar](200) NOT NULL,
	[CodeSuppression] [nchar](20) NOT NULL,
	[Desactiver] [bit] NOT NULL,
	[DateCreation] [datetime] NOT NULL,
	[ChoixMultiple] [bit] NOT NULL,
 CONSTRAINT [PK_Sondage] PRIMARY KEY CLUSTERED 
(
	[IdSondage] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Votant]    Script Date: 22/04/2019 14:39:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Votant](
	[IdVotant] [int] IDENTITY(1,1) NOT NULL,
	[MomentVote] [date] NOT NULL,
 CONSTRAINT [PK_Votants] PRIMARY KEY CLUSTERED 
(
	[IdVotant] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vote]    Script Date: 22/04/2019 14:39:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vote](
	[IdOption] [int] NOT NULL,
	[IdVotant] [int] NOT NULL,
 CONSTRAINT [PK_Votes_1] PRIMARY KEY CLUSTERED 
(
	[IdOption] ASC,
	[IdVotant] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Option]  WITH CHECK ADD  CONSTRAINT [FK_ReponsesPossibles_Sondage] FOREIGN KEY([IdSondage])
REFERENCES [dbo].[Sondage] ([IdSondage])
GO
ALTER TABLE [dbo].[Option] CHECK CONSTRAINT [FK_ReponsesPossibles_Sondage]
GO
ALTER TABLE [dbo].[Vote]  WITH CHECK ADD  CONSTRAINT [FK_Vote_Option] FOREIGN KEY([IdOption])
REFERENCES [dbo].[Option] ([IdOption])
GO
ALTER TABLE [dbo].[Vote] CHECK CONSTRAINT [FK_Vote_Option]
GO
ALTER TABLE [dbo].[Vote]  WITH CHECK ADD  CONSTRAINT [FK_Votes_Votants] FOREIGN KEY([IdVotant])
REFERENCES [dbo].[Votant] ([IdVotant])
GO
ALTER TABLE [dbo].[Vote] CHECK CONSTRAINT [FK_Votes_Votants]
GO
USE [master]
GO
